@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Oxygen:wght@400;700&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.7rem; }

h3 {
  font-size: 2.3rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.5rem; }

p {
  font-size: 1.5rem; }
  @media screen and (min-width: 480px) {
    p {
      font-size: 1.6rem; } }
  @media screen and (min-width: 640px) {
    p {
      font-size: 1.7rem; } }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 1.9rem; } }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.7rem; }

h3 {
  font-size: 2.3rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.5rem; }

.d-flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-d-c {
  flex-direction: column; }

.flex-d-cr {
  flex-direction: column-reverse; }

.flex-d-r {
  flex-direction: row; }

.flex-d-rr {
  flex-direction: row-reverse; }

.d-afl {
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); }

.d-aft {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

.align-item-center {
  align-items: center; }

.align-content-center {
  align-content: center; }

.align-item-l {
  align-items: flex-start; }

.align-item-r {
  align-items: flex-end; }

.js-c {
  justify-content: center; }

.js-l {
  justify-content: left; }

.btn {
  display: inline-block;
  padding: 0.6rem 1.4rem; }

.btn-b {
  display: block; }

.btn-primary {
  background: #5553ff; }

.btn-secondry {
  background: #8887ff; }
