@mixin prefix($property, $parameters...) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
      #{$prefix}#{$property}: $parameters;
    }
}
@mixin w-h($w,$h){
  width: $w;
  height: $h;
}
@mixin p-l($p){
  padding-left: $p;
}
@mixin p-r($p){
  padding-left: $p;
}
@mixin p-t($p){
  padding-left: $p;
}
@mixin p-b($p){
  padding-left: $p;
}