@mixin prefix($property, $parameters...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $parameters;
  }
}
@mixin w-h($w, $h) {
  width: $w;
  height: $h;
}
@mixin p-l($p) {
  padding-left: $p;
}
@mixin p-r($p) {
  padding-left: $p;
}
@mixin p-t($p) {
  padding-left: $p;
}
@mixin p-b($p) {
  padding-left: $p;
}
// populer-device
// 1920×1080 (8.89%)
// 1366×768 (8.44%)
// 360×640 (7.28%)
// 414×896 (4.58%)
// 1536×864 (3.88%)
// 375×667 (3.75%)
// populer-device
$devices: (
  mobile: 320px,
  md-mobile: 360px,
  bi-mobile: 640px,
  tablate: 768px,
  desktop: 1080px,
  bi-desktop: 1440px,
);

@mixin media-size($size) {
  @if $size == phone {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
