*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html,body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
p {
@include font-size($p-font-sizes);
}
