:root{
--color:#fdeb71 #f8d800;
--color:#adbcff #0396ff;
--color:#feb692 #ea5455;
--color:#ce9ffc #7367f0;
--color:#90f7ec #32ccbc;
--color:#fff6b7 #f6416c;
--color:#81fbb8 #28c76f;
--color:#e2b0ff #9f44d3;
--color:#f97794 #623aa2;
--color:#fccf31 #f55555;
--color:#f761a1 #8c1bab;
--color:#43cbff #9708cc;
--color:#5efce8 #736efe;
--color:#a0fe65 #fa016d;
--color:#ffdb01 #0e197d;
--color:#fec163 #de4313;
--color:#fad7a1 #e96d71;
--color:#ffd26f #3677ff;
--color:#92ffc0 #002661;
--color:#eead92 #6018dc;
--color:#f6ceec #d939cd;
--color:#52e5e7 #130cb7;
--color:#71ca74 #a64db6;
--color:#79f1a4 #0e5cad;
--color:#fdd819 #e80505;
--color:#fff3b0 #ca26ff;
--color:#e8d071 #5312d6;
--color:#eece13 #b210ff;
--color:#fff5c3 #9452a5;
--color:#f05f57 #360940;
--color:#2afadf #4c83ff;
--color:#fff886 #f072b6;
--color:#97abff #123597;
--color:#ff6fd8 #3813c2;
--color:#ee9ae5 #5961f9;
--color:#ffd3a5 #fd6585;
--color:#f5cbff #c346c2;
--color:#fff720 #3cd500;
--color:#c2ffd8 #465efb;
--color:#fd6585 #0d25b9;
--color:#fd6e6a #ffc600;
--color:#65fdf0 #1d6fa3;
--color:#6b73ff #000dff;
--color:#ffe985 #fa742b;
--color:#ffa6b7 #1e2ad2;
--color:#ffaa85 #b3315f;
--color:#ff7af5 #513162;
--color:#f0ff00 #58cffb;
--color:#72edf2 #5151e5;
--color:#ff9d6c #bb4e75;
--color:#fab2ff #1904e5;
--color:#f6d242 #ff52e5;
--color:#69ff67 #00e4ff;
--color:#3b2667 #bc78ec;
--color:#81ffef #f067b4;
--color:#ffa8a8 #fcffcf;
--color:#70f570 #49c628;
--color:#3c8ce7 #00eaff;
--color:#ffcf71 #2376dd;
--color:#ff96f9 #c32bac;
}